CompileFlags:
  Add:
    - -Wno-builtin-declaration-mismatch
    - -Wno-incompatible-library-redeclaration
    - -Wno-builtin-requires-header

Diagnostics:
  Suppress:
    - builtin-requires-header
    - incompatible-library-redeclaration
    - builtin-declaration-mismatch
    - builtin_definition

Complete:
  Include:
    InsertIncludes: Keep
    MaxPathLength: 30
    PathWhitelist:
      - Qt.*

InlayHints:
  Enabled: No
  ParameterNames: No